{% extends 'blog/base.html' %}
{% load static %}

<!-- MAIN SECTION -->
    {% block content%}
        <div class="container">
            <h1>this is the projects page</h1>
        </div>
        <div>
            <h3>Project ID: xxxx</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius enim fugiat, iure nemo odio praesentium quo quos rerum sit voluptatem? Dicta explicabo incidunt inventore labore laboriosam optio sequi tempora veniam?</p>
            <hr>
            <h3>Project ID: xxxx</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius enim fugiat, iure nemo odio praesentium quo quos rerum sit voluptatem? Dicta explicabo incidunt inventore labore laboriosam optio sequi tempora veniam?</p>
            <hr>
            <h3>Project ID: xxxx</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius enim fugiat, iure nemo odio praesentium quo quos rerum sit voluptatem? Dicta explicabo incidunt inventore labore laboriosam optio sequi tempora veniam?</p>

        </div>
    {% endblock %}