{% extends 'blog/base.html' %}
{% load static %}

<!-- MAIN SECTION -->
    {% block content%}
        <div class="container">
            <h1>this is the skills page</h1>
            <br>
            <h3>skill no.01</h3>
            <p><strong>Description: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias, architecto at autem doloremque error explicabo facere labore officia placeat porro rerum similique, ut voluptas voluptates. Fugit minima veritatis voluptate?</p>
            <hr>
            <h3>skill no.02</h3>
            <p><strong>Description: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias, architecto at autem doloremque error explicabo facere labore officia placeat porro rerum similique, ut voluptas voluptates. Fugit minima veritatis voluptate?</p>
            <hr>
            <h3>skill no.03</h3>
            <p><strong>Description: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias, architecto at autem doloremque error explicabo facere labore officia placeat porro rerum similique, ut voluptas voluptates. Fugit minima veritatis voluptate?</p>
            <hr>
        </div>
    {% endblock %}